@page
@model Cringe.Pages.Players.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Player</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Player.Id"/>
            <div class="form-group">
                <label asp-for="Player.Username" class="control-label"></label>
                <input asp-for="Player.Username" class="form-control"/>
                <span asp-validation-for="Player.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Accuracy" class="control-label"></label>
                <input asp-for="Player.Accuracy" class="form-control"/>
                <span asp-validation-for="Player.Accuracy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Playcount" class="control-label"></label>
                <input asp-for="Player.Playcount" class="form-control"/>
                <span asp-validation-for="Player.Playcount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.TotalScore" class="control-label"></label>
                <input asp-for="Player.TotalScore" class="form-control"/>
                <span asp-validation-for="Player.TotalScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Rank" class="control-label"></label>
                <input asp-for="Player.Rank" class="form-control"/>
                <span asp-validation-for="Player.Rank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Pp" class="control-label"></label>
                <input asp-for="Player.Pp" class="form-control"/>
                <span asp-validation-for="Player.Pp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.UserRank" class="control-label"></label>
                <input asp-for="Player.UserRank" class="form-control"/>
                <span asp-validation-for="Player.UserRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}