@page
@model Cringe.Pages.Beatmaps.AddModel
@{
}

<h4>Rank a Beatmap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="BeatmapId" class="control-label"></label>
                <input asp-for="BeatmapId" class="form-control" />
                <span asp-validation-for="BeatmapId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}